body {
    text-align: center;
    background: #111;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

.piano {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    margin: 40px auto;
}

.key {
    width: 60px;
    height: 200px;
    background: white;
    border: 2px solid black;
    margin: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s;
}

.key:active {
    background: #ccc;
    transform: scale(0.95);
}

.active {
    background: #ccc;
    transform: scale(0.95);
}

